.remoteWorkBlock{
    min-height: 35vh;
    background-color: #191919;
    padding: 60px 0;
}

.remoteWorkContainer{
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.title{
    background-color: #95e7ff;
}

.hire{
    font-family: 'Poppins', sans-serif;
    transition: all 1s ease;
    color: #fff;
    font-size: 16px;
    padding: 16px 40px;
    border-radius: 500px;
    font-weight: 500;
    background-size: 152% 100%;
    background: #fd4766;
    border: 2px solid #fd4766;
    cursor: pointer;
}

.hire:hover{
    background: black;
    color: #fd4766;
}

@media (max-width: 500px) {
    .remoteWorkBlock{
        height: auto;
    }
}