@import "src/common/styles/sass/variables.sccs";

.remoteWorkBlock {
    min-height: 35vh;
    background-color: $greyBackColor;
    padding: 60px 0;
    @media (max-width: 500px) {
        height: auto;
    }

    .remoteWorkContainer {
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        .hire {
            font-family: 'Poppins', sans-serif;
            transition: all 1s ease;
            color: $textColor;
            font-size: 16px;
            padding: 16px 40px;
            border-radius: 500px;
            font-weight: 500;
            background-size: 152% 100%;
            background: $primaryColor;
            border: 2px solid $primaryColor;
            text-decoration: none;
            &:hover {
                background: black;
                color: $primaryColor;
                text-decoration: none;
            }
            &:visited{
                text-decoration: none;
            }
        }
    }
}