.container{
    border: 1px solid gray;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 740px) {
    .container{
        justify-content: center;
    }
}