@import "src/common/styles/sass/variables.sccs";

.skill{
    padding: 10px;
    width: 250px;
    background-color: #0c0c0c;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 6px;
    transition: all 0.4s ease;
    @media screen and (max-width: 1250px){
        margin-bottom: 40px;
    }
    &:hover{
         transform: translateY(-5px);
         transition: all 0.8s ease;
         -moz-box-shadow: 0 0 40px rgba(255,101,101,0.1);
         -webkit-box-shadow: 0 0 40px rgba(255,101,101,0.1);
         box-shadow: 0 0 40px rgba(255,101,101,0.1);
     }
    .icon{
        padding-top: 10px;
        display: flex;
        left: 0;
        font-size: 45px;
        justify-content: flex-start;
        width: 200px;
        i{
            font-size: 6.5vh;
            color: #c542ff;
        }
    }
    .info{
        width: 235px;
        padding: 20px;
        text-align: left;
        h3{
            padding-bottom: 10px;
            margin: 0;
            color: $textColor;
            font-weight: 700;
            font-size: 18px;
        }
        .description{
            color: $descriptionColor;
            flex-wrap: wrap;
            .li {
                display: flex;
                justify-content: left;
                color: $textColor;
                font-family: 'Poppins', sans-serif;
                word-break: break-word;
            }
        }

    }
}
