@import "../../styles/sass/variables.sccs";

.title {
  margin-bottom: 30px;

  h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: $primaryColor;
    background: $backGradientColor;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--color-primary)", endColorstr="var(--color-secondary)", GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }

}