@import "src/common/styles/sass/variables.sccs";

.skillsBlock{
    min-height: 100vh;
    background-color: $greyBackColor;
    padding: 100px 0;
.skillsContainer{
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    @media (max-width: 656px) {
        flex-wrap: wrap;
    }
    .skills{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media screen and (max-width: 625px){
            justify-content: center;
        }
    }
}
}