@import "src/common/styles/sass/variables.sccs";

.mainBlock {
  min-height: 100vh;
  background-color: transparent;
  display: flex;
  padding: 200px 0;
  .particles{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.3;
  }

  h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 52px;
    background: $primaryColor;
    background: $backGradientColor;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--color-primary)", endColorstr="var(--color-secondary)", GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }
  .mainText {
    width: 400px;
    z-index: 2;
    span {
      font-size: 25px;
      color: $textColor;
    }
    p {
      font-size: 32px;
      color: $textColor;
    }
  }
  .mainPhoto {
    position: relative;
    z-index: 1;
    -moz-box-shadow: 0 0 80px rgba(255,101,101,0.4);
    -webkit-box-shadow: 0 0 80px rgba(255,101,101,0.4);
    box-shadow: 0 0 80px rgba(255,101,101,0.4);
    .myImage {
      height: 400px;
      width: 350px;
      background-position: 80% 0;
      background-image: url('../assets/image/my.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 3;
      @media screen and (max-width: 1143px) {

        //transition: .5s;
      }
    }
  }
}