@import "./src/common/styles/sass/variables.sccs";
@import "./src/common/styles/sass/mixins.sccs";

.work {
  width: 500px;
  border: 1px solid grey;
  background-color: $blackBlockColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 6px 6px 6px 6px;
  transition: all 0.4s ease;

  &:hover {
    transform: translateY(-5px);
    transition: all 0.4s ease;
    -moz-box-shadow: 5px 5px 25px rgba(255, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 25px rgba(255, 0, 0, 0.2);
    box-shadow: 0 0 25px rgba(255, 0, 0, 0.2);
  }

  .image {
    position: relative;
    height: 300px;
    width: 500px;
    background-size: cover;
    background-position: center;
    border-radius: 6px 6px 0 0;
    -moz-transition: background-color 0.8s 0.1s ease;
    -o-transition: background-color 0.8s 0.1s ease;
    -webkit-transition: background-color 0.8s 0.1s ease;
    cursor: pointer;
    @media (max-width: 754px){
      height: 250px;
      width: 250px;
    }

    &:before {
      position: absolute;
      content: '';
      background-color: black;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.6;
    }

    .showBtn {
      position: relative;
      top: 45%;
      opacity: 0;
      transition: all 1s ease;
      color: $textColor;
      font-size: 16px;
      padding: 16px 40px;
      border-radius: 500px;
      font-weight: 500;
      background: $primaryColor;
      border: 2px solid $primaryColor;
      cursor: pointer;
      font-family: 'Poppins', sans-serif;
      z-index: 1;
      text-decoration: none;
      margin-bottom: 60px;
      text-transform: uppercase;
      letter-spacing: 1px;
      max-width: 160px;
      width: 100%;
      outline: none;

      &:hover {
        background: black;
        color: $primaryColor;
        opacity: 1;
        transition: all 1s ease;
      }
    }
  }

  &:hover .showBtn {
    opacity: 1;
    transition: all 1s ease;
  }

  .info {
    padding: 20px;
    text-align: start;

    .description {
      @include text(17px,500, 1.8, $descriptionColor);
      margin: 0;
    }

    .title {
      @include text(18px,700, 1.2, $textColor);
      margin: 0;
      padding-bottom: 10px;
    }
  }
}