.footerBlock{
    height: 50vh;
    background-color: #191919;
    padding: 80px 0;
}

.rightsReserved{
    color: #757575;
}

.footerContainer{
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.href{
    width: 500px;
    height: 20%;
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
}

.hrefItem{
    height: 50px;
    width: 50px;
    background-color: gray;
}

@media (max-width: 635px) {
    .href{
        width: 100%;
    }
}

@media (max-width: 500px) {
    .href{
        width: 100%;
    }
    .footerBlock{
        height: auto;
    }
}