@import "src/common/styles/sass/variables.sccs";

.footerBlock{
    height: 50vh;
    background-color: $greyBackColor;
    padding: 80px 0;
    @media (max-width: 500px){
        height: auto;
    }
    .footerContainer{
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    .href{
        width: 500px;
        height: 20%;
        border: 1px solid gray;
        display: flex;
        justify-content: space-between;
        @media (max-width: 635px){
            width: 100%;
        }
        .hrefItem{
            font-size: 45px;
            color: #4a4a4a;
            transition: all 1s ease;
            &:hover{
                color: #fd4766;
            }
        }
    }
    .rightsReserved{
        padding-top: 20px;
        color: $descriptionColor;
    }
}
}