@import "../common/styles/sass/variables.sccs";

.worksBlock {
  min-height: 100vh;
  background-color: $blackBackColor;
  padding: 100px 0;

  .worksContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    .skills {
      border: 1px solid gray;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media (max-width: 1010px) {
        justify-content: center;
      }
    }
  }
}